select {
    background: transparent;
    border: none;
    height: 30px;
    padding: -15px;
    width: 100%;
    color: #666;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid rgb(115, 113, 122);
 }

.input--style-2{
    border-bottom: 1px solid rgb(115, 113, 122);
 }

.textarea--style-2{
    background: transparent;
    border: none;
    padding: -15px;
    width: 100%;
    color: #666;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid rgb(115, 113, 122);
}

.textarea--style-2:focus{ outline: none;}